<html>

<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <input v-model="val1" type="text" />
        <input v-model="val2" type="text" />
        <p>{{ text }}</p>
        <button @click="stopWatch()">Stop</button>
    </div>

    <script>
        const { createApp, ref, watchEffect } = Vue

        createApp({
            setup() {
                const val1 = ref('')
                const val2 = ref('')
                const text = ref('')

                const stop = watchEffect(() => text.value = val1.value + " " + val2.value)

                function stopWatch() {
                    stop()
                }
                return {
                    val1, val2, text, stopWatch
                }
            }
        }).mount('#app');
    </script>
</body>

</html>